<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="remoteDemoService" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
        <property name="serviceUrl">
            <!--<value>http://localhost:8180/demoService</value>-->
            <value>http://172.17.159.115:8180/demoService</value>
        </property>
        <property name="serviceInterface">
            <value>com.zy.rpc.shi.demo.remote.service.DemoService</value>
        </property>
    </bean>

</beans>